
    body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    justify-content: center;
    background: linear-gradient(to top left, #21e6e6, #d4fc8a);
  }  

  h1 {
    font-size: 37px;
    text-align: center;

    
  }
  h3{
    font-size: 20px;

  }
  h2{
    color:rgb(236, 69, 97);
  }


  #photoframe{
    width: 220px;
    height: 180px;
    
  } 

  #photo{
    border:2px solid black;
    
  } 
  #description{
    text-align:end ;
    font-size: medium;
    
  }
  #label{
    font-size: 25px;
    font-weight: bold;
  }
  /* #container {
    position: relative;
  }  */
  
  /* #upload {
    padding: 5px;
      width: 30%;
      height: 50%;
      position: absolute;
  } */
  /* #threshold {
    padding: 5px;
    margin-left: 50%;
  
    height: 50%;
  } */
  