<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Vehicle Control Element Detection</title>
    <!-- <link rel='shortcut icon' href='favicon.ico'/> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script language="javascript" type="text/javascript">
      function ChangePhoto(name, img,description) {
        img = typeof img !== 'undefined' ? img : "{{ result['original']}}";
      
        target = document.getElementById("label");
        target.innerHTML = name;
        target = document.getElementById("description");
        target.innerHTML = description;
        target = document.getElementById("photo");
        target.src = img;
      }

      function WaitDisplay() {
        target = document.getElementById("result");
        target.style.display="none";
        target = document.getElementById("loading");
        target.style.display="";
        setTimeout(function() {
          document.getElementById("upload").submit();}, 100);
        }
    </script>

  </head>
  <body>

    {% from "_formhelpers.html" import render_field %}

    <h1>Control element detection for vehicles</h1>
    <h3>Allow us to help you find more information about your vehicle!</h3>
    <h3>Upload a color photo file of your vehicle's dashboard.</h3>
    <div>
      <form id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
        {{ render_field(photo_form.input_photo) }}
        <p><input type="button" onclick="WaitDisplay();" value="Upload"></p>
      </form>
    </div>

    <hr>

    <div id="result">
      {% if result|length > 0 %}
        <div id="label">original</div>
        <div id="photoframe"><img id="photo" src="{{ result[0].image }}" align="left" hspace="10" vspace="10"></div>
        <div id="description" src="{{ result[0].description }}" align="right" hspace="10" vspace="10"></div>
        <p>
          <a href="javascript:void(0);" onclick="ChangePhoto('{{result[0].name}}','{{ result[0].image }}',' ');">original</a>
          </br>
          {% for category in result %}
            {% if category.name != 'original' %}
              <a href="javascript:void(0);"
                 onclick="ChangePhoto('{{ category.name }}', '{{ category.image }}','{{ category.description }}');">{{ category.name }}</a>
              </br>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
    <div id="loading" style="display:none">
      <h2>Detecting control elements...</h2>
    </div>

  </body>
</html>
